.journal-item {
  border-radius: 10px;
  background: rgb(240, 182, 202);
  color: cadetblue;
  padding: 20px;
}

.journal-item__header {
  font-size: 18px;
  font-weight: 600;
}

.journal-item__body {
  display: flex;
  gap: 20px;
}

.journal-item__date {
  font-size: 16px;
  color: violet;
}

.journal-item__text {
  font-size: 16px;
  color: rgb(210, 91, 210);
}
